main {
    /* The image used */
    background-image: url("assets/base.png");
    /* Set a specific height */
    min-height: 1400px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #000000;
  }
  
  blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #000000;
  }
  
  blockquote cite {
  color: #000000;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }
   
  blockquote cite:before {
  content: "\2014 \2009";
  }

  .links{
    font-family: 'Times New Roman', serif;
    font-size: 23px;
    text-decoration: none;
    color: black;
  }

  .linksicon{
  width:23px;
  height:23px;
  display: inline;
  }